/* ===> Google Font: Popins <==== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');


/* ===> Some Common Or Root Style <==== */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        outline: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    :root{
        --main-color: #6200EE;
    }

/* ============> Main Style Start <============= */
/* ======> Navigation Bar Style Start <======== */
.user-profile img{
    width: 70px;
    height: 40px;
    border-radius: 50%;
}

.navbar-brand img{
    width: 15%;
}
.text-logo {
    background-image: linear-gradient(to right top, #ff42cd, #e92ecf, #cf1ad2, #b206d5, #9000d8, #8700db, #7e00de, #7300e1, #8a00e5, #9f00e8, #b200eb, #c500ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10;
    margin-left: -20px;
    margin-top: 25px;
}
#active{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.nav-link:hover{
    color: var(--main-color);
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    transition: 0.4s;
}
  
/* .sticky + .content {
padding-top: 102px;
} */

.navlinks {
    margin-left: 0.95rem;
}
.navlinks-start{
    margin-left: -25px;
}
.navlinks-end{
    margin-left: 25px;
}
.navbar-nav>.active>a {
    background-color: black;
    color: green;
}

/* ======>Conent Details Area<====== */
.btns{
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    padding: 10px 20px;
    outline: none;
}
.btns:hover{
    background-color: transparent;
    border: 1px solid var(--main-color);
    transition: 0.4s;
    padding: 10px 20px;
}
.selecte-option{
    background-color: #F1F3F1;
}


.modal-button:hover{
    color: var(--main-color);
    transition: 0.4s;
}
.accordion-button:not(.collapsed){
    color: white;
}
.accordion-flush .accordion-item .accordion-button{
    background-color: var(--main-color);
    border-radius: 0px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


.cards{
    background: #6200ee75;
    padding: 20px;
}



.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}


.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--main-color);
    background-color: var(--main-color);
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

footer{
    background-color: var(--main-color);
}
.icons {
    border: none;
    padding: 8px 10px;
    margin-left: 13px;
    border-radius: 33px;
    width: 50px;
    height: 50px;
    font-size: 25px;
}
.icons:hover{
    background-color: var(--main-color);
    color: white;
    transition: 0.6s;
}

.copyright a{
    text-decoration: none;
}


/*  */
.box{
    background: #75a23d;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
}
.box:hover{ box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
.box img{
    width: 100%;
    height: auto;
    transform: rotate(0deg) scale(1);
    transition: all .8s;
}
.box:hover img{
    opacity: 0.3;
    filter: grayscale(100%);
}
.box .box-content{
    width: 100%;
    text-align: center;
    overflow: hidden;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}
.box .box-content .content{ overflow: hidden; }
.box .title{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3px 0;
    transform: translateY(250%);
    transition: all 0.6s ease 0s;
}
.box .post{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin: 0 0 10px;
    display: block;
    transform: translateY(250%);
    transition: all 0.6s ease 0s;
}
.box:hover .title,
.box:hover .post{
    transform: translateY(0);
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.box .icon li{
    margin: 0 4px;
    display: inline-block;
    transform: translateY(-150%);
    transition: all 0.6s ease 0s;
}
.box:hover .icon li{ transform: translateY(0); }
.box .icon li a{
    color: #fff;
    font-size: 16px;
    line-height: 34px;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    transition:all 0.3s ease 0s;
}
.box .icon li a:hover{
    color: #fff;
    background: #21672b;
    transform: rotate(360deg);
}
@media only screen and (max-width:990px){
    .box{ margin: 0 0 30px; }
}